<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.view.image">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Image"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <!--        android:launchMode="singleTop"  用于顶部只有一个相同的activity 可以防止多少点击创建多个activity-->
        <activity
            android:name=".activity.DebugActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ManageRuleActivity"
            android:launchMode="singleTop">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.RuleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PhotoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GalleryActivity"
            android:launchMode="singleTop" />


        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>